	<ion-view view-title=" Contact with Mad Agency" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-contact_us" class="page-contact_us">
		
    <div class="list card">
        <div class="item item-text-wrap"><h1>Report a Broken Feature or tell us 'Hello!'&nbsp;</h1>
<blockquote>Let us know about a broken feature, Be sure to mention which page you were on and what you were doing when you encountered the bug.<br />Or if you have some awesome ideas to share with us - email us!</blockquote></div>
        <a class="item item-icon-left assertive" ng-href="#/frantic_management_system/form_contact_us">
        <i class="icon ion-email"></i>
        Feedback
        </a>
    </div>    
    
		</ion-content>
		<!-- ./content -->
	</ion-view>
